<div id="modal1" class="modal modal-fixed-footer meeting">
    <div class="modal-content">
        <h4>Rendez-vous</h4>
        <form action="http://example.com" method="POST">
            <div class="input-field">
                <input type="date" name="meeting_date" id="meeting_date">
            </div>
            <div class="input-field">
                <input type="time" name="meeting_time" id="meeting_time">
            </div>
            <div class="input-field">
                <input type="text" name="address" id="address" autocomplete="street-address">
            </div>
            <button type="submit">Envoyer</button>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>