<div class="row mb-4">
    <div class="col-4 offset-sm-12 offset-md-4 mt-6">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'social:begin' backend='facebook-oauth2' %}" class="btn btn-lg btn-block m-0 mb-2">
                    <i class="fab fa-facebook mr-4"></i>Facebook
                </a>
                <a href="{% url 'social:begin' backend='google-oauth2' %}" class="btn btn-lg btn-block m-0 mb-2">
                    <i class="fab fa-google mr-4"></i>Google
                </a>
            </div>
        </div>
    </div>
</div>
