<script>
    var basetable = {
        name: "BaseTable",
        template: `
        <table class="table table-hover">
            <slot></slot>
        </table>
        `
    }

    var tablemixins = {
        methods: {
            isrow: function (index) {
                if (index === 0) {
                    return "row"
                }
            }
        }
    }

    var datatable = {
        props: ["headers", "items", "fields"],
        name: "DataTable",
        mixins: [tablemixins],
        delimiters: ["[[", "]]"],
        template: `
        <base-table>
            <thead class="blue-grey lighten-4">
                <tr>
                    <th>
                        <checkbox-component @startaction="chooseall" :id="'all'" />
                    </th>

                    <th v-for="(header, index) in headers" :key="header.id">
                        <a @click="sortbyheader(index)">
                            [[ header.name ]]
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                <template v-for="(row, position) in rows">
                    <tr :key="row.id">
                        <td>
                            <checkbox-data-component 
                                @startaction="changerowstate" :id="row.id" 
                                    :key="row.id" :value="row.id" 
                                        :selected="row.selected" />
                        </td>
                        
                        <td v-for="(value, index) in row.row" :key="index" :scope="isrow(index)">
                            <a v-if="index === 0" :href="buildlink(row.id)">
                                [[ value ]]
                            </a>
                            <span v-else>[[ value ]]</span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </base-table>
        `,
        data() {
            return {
                rows: [
                    { id: 1, selected: false, row: ["Kendall Jenner", 24, "USA", "single"] },
                    { id: 2, selected: false, row: ["Hailey Baldwin", 22, "USA", "single"] },
                    { id: 3, selected: false, row: ["Sophie Turner", 24, "USA", "married"] },
                ],
                sortedheaders: []
            }
        },
        beforeMount() {
            var constructeditems = []
            _.forEach(this.$props.items, function (item) {
                var base = { id: item.id, selected: false, row: [] }
                constructeditems.push(base)
            })

            console.log(constructeditems)

            _.forEach(constructeditems, function (item) {
                _.forEach(this.$props.fields, function (field) {
                    item[row].push(item[field])
                })
            })

            // this.rows = constructeditems
        },
        computed: {
            selecteditems() {
                return _.filter(this.rows, ["selected", true])
            },
            numberofselecteditems() {
                return this.selecteditems.length
            }
        },
        methods: {
            changerowstate: function (id, state, value) {
                // _.forEach(this.rows, function (row) {
                //     if (row.id === id) {
                //         row.selected = !row.selected
                //     }
                // })
                var row = _.filter(this.rows, ["id", id])
                row.selected = !row.selected
                this.$emit("changerowstate", state, id)
            },
            chooseall: function (state) {
                _.forEach(this.rows, function (row) {
                    row.selected = !row.selected
                })
            },
            sortbyheader: function (index) {
                if (!this.sortedheaders.includes(index)) {
                    this.sortedheaders.push(index)
                } else {
                    this.sortedheaders = _.filter(this.sortedheaders, function (sortedindex) {
                        return sortedindex !== index
                    })
                }
            },
            buildlink: function (id) {
                // return "/dashboard/" + id
                return "edit.html"
            }
        }
    }
</script>
