<script>
    var basetable = {
        name: "BaseTable",
        template: `
        <table class="table table-hover">
            <slot></slot>
        </table>
        `
    }

    var tablemixins = {
        methods: {
            isrow: function (index) {
                if (index === 0) {
                    return "row"
                }
            }
        }
    }
</script>

<script>
    var buttonmixins = {
        props: ["id", "text", "color", "isdisabled"],
        delimiters: ["[[", "]]"],
    }

    Vue.component("button-component", {
        name: "Button",
        mixins: [buttonmixins],
        template: `
        <button @click="startaction" type="button" class="btn btn-sm" :color="color" :disabled="isdisabled">
            <slot></slot>    
        </button>
        `,
        methods: {
            startaction: function () {
                this.$emit("startaction")
            }
        }
    })

    Vue.component("spinner-button-component", {
        name: "SpinnerButton",
        mixins: [buttonmixins],
        template: `
        <button-component @startaction="doaction" :color="color" :id="id" :isdisabled="showspinner">
            <transition name="general-transition" mode="out-in">
                <span v-if="!showspinner" :key="'btn-text'">[[ text ]]</span>

                <div v-else :key="'btn-spinner'" class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </transition>
        </button-component>
        `,
        data() {
            return {
                showspinner: false
            }
        },
        methods: {
            doaction: function () {
                this.showspinner = true
                this.$emit("doaction")
            }
        }
    })

    Vue.component("radio-component", {
        props: ["id", "label", "selected"],
        name: "Radio",
        delimiters: ["[[", "]]"],
        template: `
        <div class="custom-control custom-radio">
            <input @click="startaction" :id="id" :name="id" :checked="selected" type="radio" class="custom-control-input">
            <label class="custom-control-label" :for="id">
                [[ label ]]
            </label>
        </div>
        `,
        methods: {
            startaction: function () {
                this.$emit("startaction", this.$props.id)
            }
        }
    })

    Vue.component("radios-component", {
        props: ["radios"],
        name: "RadioGroup",
        template: `
        <div class="row">
            <div class="col-12">
                <div v-for="(radio, index) in radios" :key="radio.id" class="form-group">
                    <radio-component @startaction="radioaction" :key="radio.id" :id="radio.id" :label="radio.label" :selected="radio.selected" />
                </div>
            </div>
        </div>
        `,
        computed: {
            selectedradio() {
                return _.filter(this.$props.radios, ["selected", true])
            }
        },
        methods: {
            radioaction: function (id) {
                _.forEach(this.$props.radios, (radio) => {
                    if (radio.id !== id) {
                        radio.selected = false
                    } else {
                        radio.selected = true
                    }
                })
                this.$emit("radioaction", id)
            }
        }
    })

    Vue.component("select-all-checkbox-component", {
        props: ["id", "everythingselected"],
        name: "SelectAll",
        template: `
        <div class="custom-control custom-checkbox">
            <input @change="startaction" type="checkbox" class="custom-control-input" :id="id" :checked="everythingselected">
            <label class="custom-control-label" :for="id"></label>
        </div>
        `,
        methods: {
            startaction: function () {
                this.$emit("startaction")
            }
        }
    })

    Vue.component("data-checkbox-component", {
        props: ["label", "item"],
        name: "DataCheckbox",
        template: `
        <div class="custom-control custom-checkbox">
            <input @change="startaction" type="checkbox" class="custom-control-input" :id="itemid" :checked="item.selected">
            <label class="custom-control-label" :for="itemid"></label>
        </div>
        `,
        computed: {
            itemid() {
                return 'item_' + this.$props.item.id
            }
        },
        methods: {
            startaction: function () {
                this.$emit("startaction", this.$props.item)
            }
        }
    })

    Vue.component("select-component", {
        props: ["options", "initvalue"],
        name: "SelectInput",
        delimiters: ["[[", "]]"],
        template: `
        <select @change="startaction" v-model.number="selectedelement" class="browser-default custom-select">
            <option v-for="option in options" :key="option">
                [[ option ]]
            </option>
        </select>
        `,
        data() {
            return {
                selectedelement: null
            }
        },
        beforeMount() {
            if (this.$props.initvalue === undefined) {
                this.selectedelement = this.$props.options[0]
            } else {
                this.selectedelement = this.$props.initvalue
            }
        },
        methods: {
            startaction: function () {
                this.$emit("startaction", this.selectedelement)
            }
        }
    })

    Vue.component("datalist-component", {
        props: ["id", "listname", "initvalues", "keytoget", "placeholder"],
        template: `
        <div class="form-group">
            <input :list="listname" :id="id" :placeholder="placeholder" type="text" class="form-control">
            <datalist :id="listname">
                <option v-for="item in initvalues" :value="item[keytoget]">
            </datalist>
        </div>
        `,
        data() {
            return {
                value: null
            }
        },
        methods: {
            startaction: function () {
                this.$emit("startaction", this.value)
            }
        }
    })
</script>


<script>
    var fetchmixins = {
        methods: {
            newfetchdict: function (formdata) {
                var base = {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                }

                if (formdata) {
                    base["body"] = formdata
                }
                return base
            },
            newformdata: function (values) {
                var data = new FormData()
                if (values) {
                    var keys = Object.keys(values).forEach((key) => {
                        data.append(key, values[key])
                    })
                }
                return data
            },
            newgetrequest: function (url) {
                return fetch(url, this.newfetchdict())
            },
            newpostrequest: function (url, values) {
                return fetch(url, this.newfetchdict(this.newformdata(values)))
            }
        }
    }
</script>
