<script>
    Vue.component("quill-editor", {
        template: `
        <div id="quill-editor">
            <div class="form-group">
                <div id="editor"></div>
            </div>
        </div>
        `,
        data() {
            return {
                quill: null,
                htmltext: null,
                deltaitems: null
            }
        },
        mounted() {
            var self = this
            var editor = new Quill("#editor", {
                modules: {
                    toolbar: [
                        ["bold", "italic", "underline", "strike"],
                        ["link", "image"],
                        [{ "header": 1 }, { "header": 2 }],
                        // [{ "color": [] }, { "background": [] }],
                        // [{ "font": ["Roboto", "Lato"] }],
                        ["clean"],
                    ],
                },
                // handlers: {
                //     "link": function (value) {
                //         var url =prompt("Enter url:")
                //         this.quill.format("link", url)
                //     }
                // },
                theme: "snow"
            })

            editor.on("text-change", function (delta) {
                self.htmltext = editor.root.innerHTML
                self.deltaitems = editor.getContents()
                $("#html").val(self.htmltext)
                $("#deltas").val(JSON.stringify(self.deltaitems))
            })
            this.quill = editor
        },
        methods: {
            startaction: function () {
                var htmlcontent = this.quill.root.innerHTML
                var content = JSON.stringify(this.quill.getContents())
                this.$emit("startaction", htmlcontent)
            }
        }
    })
</script>
