{% extends "dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Réglages" %}{% endblock %}

{% block main %}
    <div class="row wow fadeIn text-center">
        <div class="col-4">
            <a href="{% url 'dashboard:settings:general' %}">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-cog fa-2x"></i>
                        <p>{% trans "Réglages générales" %}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="http://">
                    <div class="card-body">
                        <i class="fa fa-wrench fa-2x"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="http://">
                    <div class="card-body">
                        <i class="fa fa-store-alt fa-2x"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
