{% extends "pages/settings/base.html" %}
{% load i18n %}

{% block title %}{% trans "Général" %}{% endblock %}

{% block settings_left %}
    <div class="card">
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quae dolorem alias vel? Voluptatum vitae veritatis temporibus! Vel 
            natus, nihil molestias et explicabo dolor iusto quo vitae. 
            Consequuntur perferendis molestias ab.
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quae dolorem alias vel? Voluptatum vitae veritatis temporibus! Vel 
            natus, nihil molestias et explicabo dolor iusto quo vitae. 
            Consequuntur perferendis molestias ab.
        </div>
    </div>
{% endblock %}

{% block settings_right %}
    <div class="card">
        <div class="card-body">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
            </div>
        </div>
    </div>
{% endblock %}
