<script>
    var csvcomponent = {
        props: ["selectedvaluesids", "numberofselectedvalues"],
        name: "DownloadCSV",
        mixins: [fetchmixins],
        delimiters: ["[[", "]]"],
        data() {
            return {
                radios: [
                    { id: "all", label: "Download all", selected: true },
                    { id: "selection", label: "Download selected items", selected: false },
                    { id: "specific", label: "Choose specific items to download", selected: false },
                ],
                inputvisible: false
            }
        },
        computed: {
            selectedinputvalue() {
                var item = _.filter(this.radios, ["selected", true])
                return item.id
            }
        },
        methods: {
            downloadcsvfile: function () {
                this.newgetrequest("{% url 'dashboard:api:csv' %}")
            },
            showinputfield: function (id) {
                if (id === "specfic") {
                    this.inputvisible = true
                } else {
                    this.inputvisible = false
                }
            }
        }
    }
</script>

<script>
    var roweditcomponent = {
        props: ["item"],
        name: "EditRow",
        mixins: [fetchmixins],
        delimiters: ["[[", "]]"],
        template: `
        <div :id="'row-edit-' + item.id" class="row-edit-box">
            <i @click="togglebox(item)" class="fa fa-pen"></i>

            <transition name="general-transition">
                <div @mouseleave="item.edit=false" v-if="item.edit" class="row-edit-popup">
                    <div class="form-group">
                        <input @keypress.enter="startaction(item)" v-model="newvalue" type="text" class="form-control">
                    </div>
                </div>
            </transition>
        </div>
        `,
        data() {
            return {
                newvalue: null
            }
        },
        beforeMount() {
            this.newvalue = this.$props.item.title
        },
        methods: {
            togglebox: function (item) {
                item.edit = !item.edit
                this.$emit("togglebox", item)
            },
            startaction: function (item) {
                item.edit = !item.edit
                item.title = this.newvalue
            },
            setinputfocus: function (el) {
                var input = el.getElementsByTagName("input")
            }
        }
    }

    var datatable = {
        props: ["items"],
        name: "DataTable",
        components: {
            "row-edit-component": roweditcomponent
        },
        data() {
            return {
                headers: ["ID", "Title", "UserID", "Completed"],
                currentsort: "id",
                sortdirection: "asc"
            }
        },
        mounted() {
            if (localStorage.currentsort) {
                this.currentsort = localStorage.getItem("currentsort")
            }
        },
        computed: {
            everythingselected() {
                return this.numberofselectedvalues === this.totalnumberofitems
            },
            totalnumberofitems() {
                return this.$props.items.length
            },
            hasselectedvalues() {
                return this.selectdvalues.length > 0
            },
            selectdvalues() {
                return _.filter(this.$props.items, ["selected", true])
            },
            sorteditems() {
                return _.sortBy(this.list, [this.currentsort.toLowerCase()])
            },
            list() {
                return this.$props.items
            }
        },
        methods: {
            selectall: function (item) {
                _.forEach(this.$props.items, (item) => {
                    if (item.selected) {
                        // pass
                    } else {
                        item.selected = true
                    }
                })
            },
            toggleitemselection: function (item) {
                item.selected = !item.selected
            },
            hideothereditboxes: function (incomingitem) {
                _.forEach(this.$props.items, (item) => {
                    if (item.id !== incomingitem.id) {
                        item.edit = false
                    }
                })
            },
            sortcolumnby: function (header) {
                localStorage.setItem("currentsort", header)
                this.currentsort = header
            },
            headerisselected: function (header) {
                return {
                    "blue-text darken-1": this.currentsort.toLowerCase() === header.toLowerCase()
                }
            }
        }
    }

    var datatableinterface = {
        props: ["items"],
        name: "DatatableInterface",
        mixins: [fetchmixins],
        components: {
            "data-table-component": datatable,
            "csv-component": csvcomponent
        },
        data() {
            return {
                loading: true,
                search: null,
                sliceat: 10
            }
        },
        created() {
            setTimeout(() => {
                this.loading = false
            }, 1000);
        },
        mounted() {
            if (localStorage.sliceat) {
                this.sliceat = localStorage.getItem("sliceat") * 1
            }
        },
        computed: {
            dosearch() {
                if (this.search === null | this.search === "") {
                    return this.sliceditems
                } else {
                    var values = _.filter(this.sliceditems, (post) => {
                        return post.title.includes(this.search)
                    })
                    return values
                }
            },
            sliceditems() {
                return _.slice(this.list, 0, this.sliceat)
            },
            list() {
                return this.$props.items
            },
            numberofselectedvalues() {
                return this.selectdvalues.length
            },
            selectedvaluesids() {
                var ids = []
                _.forEach(this.selectdvalues, (item) => { ids.push(item.id) })
                return ids
            },
            showactionbutton() {
                return this.selectdvalues.length > 0
            },
            selectdvalues() {
                return _.filter(this.list, ["selected", true])
            },
            totalnumberofitems() {
                return this.list.length
            },
        },
        methods: {
            duplicateitems: function (items) {
                var request = this.newpostrequest(
                    "{% url 'dashboard:api:duplicate' %}", 
                    this.selectedvaluesids
                )
                request.then((response) => {
                    response.json().then((data) => {
                        _.forEach(data, (item) => {
                            item["selected"] = false
                            items.push(item)
                        })
                    })
                })
            },
            deleteitems: function () {
                var request = this.newpostrequest("{% url 'dashboard:api:delete' %}", this.selectedvaluesids)
            },
            sliceitems: function (value) {
                localStorage.setItem("sliceat", value)
                this.sliceat = value

                // document.body.scrollTop = 0 // Safari
                // document.documentElement.scrollTop = 0
                window.scrollTo({ top: 0, behavior: "smooth" })
            }
        }
    }
</script>

<script>
    var dashboard = new Vue({
        el: "#vue_dashboard_app",
        name: "Dashboard",
        mixins: [fetchmixins],
        components: {
            "data-table-interface": datatableinterface
        },
        delimiters: ["[[", "]]"],
        data() {
            return {
                items: []
            }
        },
        beforeMount() {
            fetch(window.location.href, {
                method: "POST",
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then((response) => {
                response.json().then((data) => {
                    var items = JSON.parse(data)
                    _.forEach(items, (item) => {
                        item["selected"] = false
                    })
                    localStorage.setItem("items", JSON.stringify(items))
                    this.items = items
                })
            })
            .catch((error) => {
                console.log(error)
            })
            // if (localStorage.items) {
            //     this.items = JSON.parse(localStorage.items)
            // } else {
            //     // var rawitems = '{{ items|safe }}'
            //     // localStorage.setItem("items", rawitems)
            //     // this.items = JSON.parse(rawitems)

            // }
        },
        beforeDestroy() {
            localStorage.removeItem("items")
        }
    })
</script>
