{% extends "layouts/profile_base.html" %}
{% load i18n utils static %}

{% block profile_content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                <span class="font-weight-lighter">{% greeting %},</span> {{ user.firstname }}
            </h2>
        </div>
    </div>

    <div class="card mt-3">
        <img src="{% static 'high_five.svg' %}" alt="preview-image" class="img-fluid" role="img" aria-label="Preview image">            
    </div>
{% endblock profile_content %}
