<!-- SIDEBAR -->
<div class="side">
    <div class="bar">
        <ul>
            <li class="header"><p>Dashboard</p></li>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'list_items' %}">Products</a></li>
            <li><a href="{% url 'list_items_cards' %}">Products - Cards</a></li>
            <li><a href="{% url 'user_details' 1 %}">User details</a></li>
            <li><a href="{% url 'create' %}">Create new</a></li>
        </ul>
        <!-- <div class="bar-footer">
            Test
        </div> -->
    </div>

</div>