<div class="card-panel avatar">
    <img src="https://www.w3schools.com/bootstrap4/img_avatar4.png" alt="avatar">
    <div class="details">
        <table class="responsive-table">
            <tbody>
                <tr>
                    <td id="username">Eugénie Bouchard</td>
                </tr>
                <tr>
                    <td>12/12/1987 - Lille, France</td>
                </tr>
                <tr>
                    <td><a href="mailto:eugenieboucard@gmail.com">eugenieboucard@gmail.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>