{% load i18n %}

<script>
    var duplicationapp = {
        name: "Duplication",
        template: `
        <transition tag="div" name="general-transition" mode="out-in">
            <a v-if="!clicked" v-on:click="sendrequest" class="mr-4 text-muted">
                <i class="fa fa-copy mr-2"></i>
                {% trans "Dupliquer" %}
            </a>
            
            <div v-else class="spinner-border spinner-border-sm mr-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        <transition/>
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            sendrequest: function (method) {
                this.clicked = true
                fetch("{% url 'dashboard:products:duplicate' product.id %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    "credentials" : "same-origin"
                }).then((response) => {
                    response.json().then((data) => {
                        if (data.state) {
                            window.location.href = response.redirect_url
                        } else {
                            window.location.reload()
                        }
                    })
                }).catch((error) => {
                    console.log(error)
                    window.location.reload()
                    console.log(error)
                })
                // var self = this
                // var formdata = new FormData()
                // formdata.append("csrfmiddlewaretoken", this.$data.csrf)

                // var xhr = new XMLHttpRequest()
                // xhr.responseType = "json"
                // xhr.onloadstart = () => {
                //     self.$data.clicked = true
                // }
                // xhr.onloadend = () => {
                //     if (xhr.status === 500 || xhr.status === 400) {
                //         self.$data.clicked = false
                //         window.location.reload()
                //     }

                //     if (xhr.status === 200) {
                //         window.location.href = xhr.response.redirect_url
                //     }
                // }

                // xhr.open("POST", "{% url 'dashboard:products:duplicate' product.id %}")
                // xhr.send(formdata)
            }
        }
    }
</script>
