{% extends "includes/modals/base.html" %}
{% load i18n %}

{% block modal_id %}{{ modal_id }}{% endblock %}
{% block modal_aria %}Download CSV{% endblock %}
{% block modal_size %}modal-md{% endblock %}

{% block modal_content %}
    <csv-component :selectedvaluesids="selectedvaluesids" :numberofselectedvalues="numberofselectedvalues" inline-template>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">
                    {% trans "Télécharger le fichier CSV" %}
                </h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div v-if="downloadlink!==undefined" class="alert alert-success" role="alert">
                            <a :href="downloadlink" target="_blank">[[ downloadlink ]]</a>
                        </div>
                    </div>

                    <div class="col-12">
                        <radios-component @radioaction="showinputfield" :radios="radios" />
                    </div>
    
                    <div v-if="inputvisible" class="col-12">
                        <input type="text" name="specific" id="specific">
                    </div>
                </div>
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    {% trans "Fermer" %}
                </button>

                <spinner-button-component @doaction="downloadcsvfile" :showspinner="issubmitted"
                    :id="'download-csv'" :btnclass="'btn-sm btn-primary'" :text="'Download CSV'" />
            </div>
        </div>
    </csv-component>
{% endblock %}
