{# Secondary actions such as prevewing an item, duplicating, activating etc. #}

{% load i18n %}

<div class="row mt-3">
    <div class="col-auto d-flex flex-direction-row justify-content-left">
        <div class="duplication">
            <duplication-component />
        </div>

        {% if product.active %}
            {% if product.private %}
                <a href="{{ product.get_private_url }}" class="text-muted" target="_blank">
                    <fa class="fa fa-eye mr-2"></fa>
                    {% trans "Prévisualiser" %}
                </a>                    
            {% else %}
                <a href="{{ product.get_absolute_url }}" class="text-muted" target="_blank">
                    <fa class="fa fa-eye mr-2"></fa>
                    {% trans "Prévisualiser" %}
                </a>                    
            {% endif %}
        {% else %}
            <a href="{{ product.get_preview_url }}" class="text-muted" target="_blank">
                <fa class="fa fa-eye mr-2"></fa>
                {% trans "Prévisualiser" %}
            </a>
        {% endif %}
    </div>
</div>
