{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'user_details.css' %}">
    </head>
    <body>
        
        {% block hero %}
            <main>
                <div class="dashboard" id="vue_dashboard">
                    <div class="wrapper">
                        {% block sidebar %}{% endblock %}
                        {% include "./components/topnav.html" %}
                        <div class="main">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>                
            </main>
        {% endblock %}
        
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Materialize scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                // Sidenav
                $('.sidenav').sidenav();
                // Scrollspy
                $('.scrollspy').scrollSpy();
                // Select
                $('select').formSelect();
                // Modals
                $('.modal').modal();
                // Collapsible
                $('.collapsible').collapsible();
            });
        </script>

        <!-- Vue JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- SIDEBAR -->
        <script src="{% static 'sidebar.js' %}"></script>

        <!-- LODASH -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

        <!-- VUEJS -->
        {% block vue_scripts %}{% endblock %}
    </body>
</html>