<script>
    var chartmixins = {
        props: ["chartid"],
        template: `<canvas :id="chartid"></canvas>`,
        data() {
            return {
                labels: [],
                chartdata: []
            }
        },
        mounted() {
            var mychart = document.getElementById(this.$props.chartid)
            var ctx = mychart.getContext("2d")
            // ctx.translate(0.5, 0.5);
            // ctx.imageSmoothingEnabled = false;
            this.draw(ctx)
        }
    }
</script>
