{% include "vue/charts/mixins.html" %}

<script>
    Vue.component("pie-chart-component", {
        name: "RadarChart",
        mixins: [chartmixins],
        beforeMount() {
            this.labels = ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
            this.radartdata = [
                [65, 59, 90, 81, 56, 55, 40],
                [28, 48, 40, 19, 96, 27, 100]
            ]
        },
        methods: {
            draw: function (ctx) {
                var radarchart = new Chart(ctx, {
                    type: "radar",
                    data: {
                        labels: this.labels,
                       datasets: [{
                            label: "My First dataset",
                            data: this.radartdata[0],
                            backgroundColor: [
                                "rgba(105, 0, 132, .2)",
                            ],
                            borderColor: [
                                "rgba(200, 99, 132, .7)",
                            ],
                            borderWidth: 2
                        }, {
                            label: "My Second dataset",
                            data: this.radartdata[1],
                            backgroundColor: [
                                "rgba(0, 250, 220, .2)",
                            ],
                            borderColor: [
                                "rgba(0, 213, 132, .7)",
                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        responsive: true,
                    }
                });
            }
        }
    })
</script>
