<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": [],
        "@id": "{{ domain }}",
        "name": "{{ company_name }}",
        "description": "{{ company_description }}",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ contact.address }} {{ contact.zip_code }}",
            "addressLocality": "Lille",
            "addressRegion": "Haut-de-France",
            "postalCode": "59000",
            "addressCountry": "FR"
        },
        "ContactPoint": [
            {
                "@type": "ContactPoint",
                "ContactType": "Customer service",
                "url": "{{ domain }}"
            }
        ],
        "email": "mailto:{{ contact.emails.main }}",
        "url": "{{ domain }}",
        "telephone": "{{ contact.telephone.main }}",
        "founder": {
            "@type": "Person",
            "givenName": "John",
            "familyName": "Pendenque",
            "brand": {
                "@type": "Thing",
                "name": "{{ company_name }}"
            },
            "jobTitle": "Founder, CEO"
        }
    }
</script>
