{% extends "base_site.html" %}
{% load i18n static %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include "project_components/navs/nav.html" %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'hero.css' %}">
{% endblock %}

{% block main_tag_style %}mt-0{% endblock %}

{% block main %}
    <!-- HERO -->
    {% include "components/hero/base.html" %}
    <!-- BENEFITS -->
    {% include "components/benefits/base.html" %}
{% endblock %}

{% block footer %}
    {% include "project_components/navs/footer.html" %}
{% endblock %}
