{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "MyWebsite: Build a website quickly" %}
{% endblock %}

{% block hero %}
    {% with hero_image="" %}
        <div class="hero red darken-3 responsivity" style="background-image: url({% static 'images/hero/hero2.jpg' %});">
            <div class="hero-wrapper">
                <div class="call-to-action">
                    <div class="lead">{% trans "Build a website quickly" %}</div>
                    <div class="lead-subtitle">{% trans "Build a website quickly with this template" %}</div>
                    <a href="{ url '' }" class="btn-large grey darken-4 waves-effect waves-light" id="btn_call_to_action">
                        {% trans "Start shopping" %}
                    </a>
                </div>
            </div>
        </div>
    {% endwith %}
    
    <!-- BENEFITS -->
    {% include "./benefits.html" %}

    <!-- CONTACT -->
    {% include "./contact.html" %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'contact.js' %}"></script>
{% endblock %}
