{% load static %}

<!DOCTYPE html>
{% block html %}
    <html lang="{{ LANGUAGE_CODE }}">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">

            <title>{% block title %}{% endblock %}</title>

            <!-- META -->
            <meta name="author" content="{% block author %}{{ comany_name }}{% endblock %}" />
            
            <meta name="theme-color" content="{% block theme_color %}{% endblock %}" />
            <meta name="description" content="{% block description %}{{ company_description}}{% endblock %}">
            
            <meta name="twitter:card" content="{% block twitter_card %}{% endblock %}" />
            <meta name="twitter:site" content="{% block twitter_handle %}{% endblock %}" />
            <meta name="twitter:creator" content="" />
            
            <meta property="og:url" content="{{ request.build_absolute_uri }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{% block og_title %}{{ company_name }}: {{ company_description }}{% endblock %}" />
            <meta property="og:description" content="{% block og_description %}{{ company_description }}{% endblock %}" />
            <meta property="og:image" content="{% block og_image %}{% endblock %}" />
            
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:image:height" content="1200">
            <meta property="og:image:width" content="800">
            <meta property="og:image:alt" content="{% block og_image_alt %}{{ company_name }}{% endblock %}" />
            
            <meta property="keywords" content="{% block meta_keywords %}{% endblock %}">

            {% block extra_metatags %}{% endblock %}

            <!-- STRUCTURED -->
            {% block structured_data %}
                {% include "includes/seo/organization.html" %}
            {% endblock %}

            <!-- Google Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">
            <!-- Material Icons -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <!-- Font Awesome -->
            <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
            <!-- Bootstrap -->
            <!-- <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
            <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
            <!-- Bootstrap-Vue -->
            <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
            <!-- MD Bootstrap -->
            <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">
            <!-- Vuetify Icons -->
            <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css">
            <!-- Vuetify -->
            <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">

            <!-- Custom sheets -->
            {% block extra_css %}{% endblock extra_css %}

            <link rel="alternate" href="mywebsite.fr" hreflang="fr-fr" />

            <script>window.dataLayer = window.dataLayer || [];</script>
            {% block datalayer_push %}{% endblock %}

            {% block analytics %}{% endblock %}
        </head>

        <body>
            {% block extra_analytics %}{% endblock %}
            
            <div id="app">
                <v-app>
                    <!-- Navbar -->
                    {% block navbar %}{% endblock %}
        
                    <!-- Main -->
                    {% block main %}{% endblock %}
           
                    <!-- Footer -->
                    {% block footer %}{% endblock %}
                </v-app>
            </div>

            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

            <!-- Popper -->
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

            <!-- Bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"></script>

            <!-- MD Bootstrap -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>

            <!-- Lodash -->
            <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
                    
            <!-- Velocity -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

            <!-- Vue JS -->
            {% if debug %}
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            {% else %}
                <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            {% endif %}

            <!-- Bootstrap-Vue -->
            <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
            <!-- Bootstrap-Vue Icons -->
            <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

            <!-- Vuetify -->
            <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

            <!-- Vuex -->
            <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>

            <!-- Router -->
            <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

            <!-- Axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

            <!-- Project -->
            <script src="{% static 'js/project.js' %}"></script>
            <script>PROJECT.init.setToken('{{ csrf_token }}')</script>
            
            <!-- Extra Scripts -->
            {% block extra_scripts %}{% endblock %}
            
            {% block vuejs_scripts %}{% endblock %}
            
            <script src="{% static 'js/axiosclient.js' %}"></script>
            <script src="{% static 'js/store.js' %}"></script>
            <script src="{% static 'js/router.js' %}"></script>
            <script src="{% static 'js/components.js' %}"></script>
            <script src="{% static 'js/mixins.js' %}"></script>
            <script src="{% static 'js/plugins/api.js' %}"></script>

            <script>
                Vue.use(globalPlugin)
                Vue.mixin(globalMixin)

                var app = new Vue({
                    el: "#app",
                    name: "App",
                    delimiters: ["[[", "]]"],

                    vuetify: new Vuetify(),

                    router,
                    store
                })
            </script>
            
            <!-- Chat  -->
            {% block chat %}{% endblock %}
        </body>

    </html>
{% endblock %}
