{% extends "layouts/edit.html" %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-4">
            <div class="card card-user">
                <div class="image">
                    <img src="https://demos.creative-tim.com/bs3/paper-dashboard/assets/img/background.jpg" alt="{{ user.username }}">
                </div>

                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" src="https://demos.creative-tim.com/bs3/paper-dashboard/assets/img/faces/face-2.jpg" alt="{{ user.username }}">
                        <h4 class="title">{{ user.username }}<br>
                            <a href="#"><small>@{{ user.username }}</small></a>
                        </h4>
                    </div>
                </div>

                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="company">{% trans "Compagnie" %}</label>
                                <input type="text" name="company" class="form-control" id="company">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="username">{% trans "Nom d'utilisteur" %}</label>
                                <input type="text" name="username" class="form-control" id="username" autocomplete="username">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="username">{% trans "Email" %}</label>
                                <input type="text" name="email" class="form-control" id="email" autocomplete="email">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">{% trans "Nom" %}</label>
                                <input type="text" name="name" class="form-control" id="name" autocomplete="given-name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="surname">{% trans "Prénom" %}</label>
                                <input type="text" name="surname" class="form-control" id="surname" autocomplete="family-name">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="name">{% trans "Adresse" %}</label>
                                <input type="text" name="address" class="form-control" id="address" autocomplete="address-level1">
                            </div>
                        </div>
                    </div>

                    <div class="form-row text-right">
                        <div class="col-12">
                            <spinner-button-component :id="'validate'" :text="'Valider'" :color="'btn-primary'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block vuejs_scripts %}
    {{ block.super }}
    <!-- App -->
    {% include "vue/dashboard/edition_app.html" %}
{% endblock %}
