{% load static %}

<!DOCTYPE html>
{% block html %}
    <html lang="{{ LANGUAGE_CODE }}">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">

            <title>{% block title %}{% endblock %}</title>

            <!-- META -->
            <meta name="author" content="{% block author %}{% endblock %}" />
            
            <meta name="theme-color" content="{% block theme_color %}{% endblock %}" />
            <meta name="description" content="{% block description %}{% endblock %}">
            
            <meta name="twitter:card" content="{% block twitter_card %}{% endblock %}" />
            <meta name="twitter:site" content="{% block twitter_handle %}{% endblock %}" />
            <meta name="twitter:creator" content="" />
            
            <meta property="og:url" content="{{ request.build_absolute_uri }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{% block og_title %}{% endblock %}" />
            <meta property="og:description" content="{% block og_description %}{% endblock %}" />
            <meta property="og:image" content="{% block og_image %}{% endblock %}" />
            
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:image:height" content="1200">
            <meta property="og:image:width" content="800">
            <meta property="og:image:alt" content="{% block og_image_alt %}{% endblock %}" />
            
            <meta property="keywords" content="{% block meta_keywords %}{% endblock %}">

            {% block extra_metatags %}{% endblock %}

            <!-- STRUCTURED -->
            {% block structured_data %}
                {% include "project_components/seo/organization.html" %}
            {% endblock %}

            <!-- Google Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
            <!-- Material Icons -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <!-- Google stylesheets -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <!-- MD Bootstrap -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">
            
            <!-- Custom sheets -->
            {% block extra_css %}{% endblock extra_css %}

            <link rel="alternate" href="mywebsite.fr" hreflang="fr-fr" />

            <script>window.dataLayer = window.dataLayer || [];</script>
            {% block datalayer_push %}{% endblock %}

            {% block analytics %}{% endblock %}
        </head>

        <body>
            {% block extra_analytics %}{% endblock %}

            <!-- NAVBAR -->
            {% block navbar %}{% endblock %}

            <!-- MAIN -->
            {% block main %}{% endblock %}
   
            <!-- Footer -->
            {% block footer %}{% endblock %}

            <!-- JQUERY -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

            <!-- POPPER -->
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
                </script>

            <!-- BOOTSTRAP -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
                </script>

            <!-- MDB -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

            <!-- STRIPE -->
            <script src="https://js.stripe.com/v3/"></script>

            <!-- LODASH -->
            <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
                    
            <!-- VELOCITY -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

            <!-- VUE -->
            {% if debug %}
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            {% else %}
                <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            {% endif %}
            
            <script>
                $(document).ready(function () {
                
                });
            </script>

            <!-- EXTRA SCRIPTS -->
            {% block extra_scripts %}{% endblock %}
            
            {% block vuejs_scripts %}{% endblock %}
            
            <!-- CHAT -->
            {% block chat %}{% endblock %}
        </body>

    </html>
{% endblock %}
