<script>
    var formcomponent = {
        name: "ContactForm",
        delimiters: ["[[", "]]"],
        data() {
            return {
                items: {
                    name: null,
                    email: null,
                    message: null,
                    newsletter: false
                }
            }
        }
    }

    Vue.component("contact-component", {
        name: "Contact",
        delimiters: ["[[", "]]"],
        components: { "form-component": formcomponent },
        data() {
            return {
                sent: false,
                success: false,
            }
        },
        methods: {
            dosend: function (data) {
                
            },
            resetitems: function () {
                this.items = {
                    name: null,
                    email: null,
                    message: null,
                    newsletter: false
                }
            }
        }
    })
</script>
