<script>
    Vue.component("contact-preference-component", {
        name: "ContactPreferences",
        delimiters: ["[[", "]]"],
        data() {
            return {
                submitted: false,
                sections: [
                    {
                        id: 1,
                        name: "sales",
                        paragraph: "Soyez les premiers à choper vos coups de cœur pour moins cher",
                        checkboxes: [{ id: "email", label: "Email" }]
                    },
                    {
                        id: 2,
                        name: "trends",
                        paragraph: "Dernières tendances, nouveautés et conseils de style : vous les avez vus en premier, vous serez les premiers à les porter.",
                        checkboxes: [{ id: "novelties", label: "Email" }]
                    },
                    {
                        id: 3,
                        name: "partners",
                        paragraph: "Restez à l'affût des collabs exclusives et des offres triées sur le volet.",
                        checkboxes: [{ id: "partners", label: "Email" }]
                    },
                ],
                selecteditems: {}
            }
        },

        beforeMount() {
            console.log('loading...')
        },

        computed: {
            hasmorethanone() {
                return this.sections.length > 1
            },

            hasselecteditems() {
                return _.includes(this.selecteditems, true)
            }
        },
        
        methods: {
            submitdata: function () {
                this.submitted = true
                this.$api.profile.updatePreferences(this.selecteditems)
                .then((response) => {
                    setTimeout(() => {
                        this.submitted = false
                    }, 1000);
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        }
    })
</script>
