{% extends "index.html" %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<div class="row wow fadeIn">
		<!-- CHART -->
		<div class="col-md-9 mb-4">
			<div class="card">
				<div class="card-body">
					<line-chart-component :chartid="'simple-bar-chart'" />
				</div>
			</div>
		</div>

		<!-- STATS -->
		<div class="col-md-3 mb-4">
			<div class="card">
				<div class="card-body">
					{% include "components/others/stats_card.html" %}
				</div>
			</div>
		</div>

		<div class="col-md-6 mb-4">
			<div class="card">
				<div class="card-body">
					<p class="font-weight-bold text-uppercase">
						{% trans "Dernières commandes" %}
					</p>
					{% include "components/tables/orders_resume.html" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block vuejs_scripts %}
	<!-- CHARTS -->
	{% include "vue/charts/line.html " %}
	<!-- VUE -->
	{% include "vue/home.html" %}
{% endblock %}
