{% extends "dashboard.html" %}
{% load static %}

{% block title %}User details{% endblock %}


{% block main %}
<div class="row">
    <!-- PROFILE -->
    <div class="col s12 m4 l4">
        {% include "../components/profile/user_details.html" %}
    </div>

    <!-- PRESENTATION -->
    <div class="col s12 m8 l8">
        {% include "../components/profile/presentation.html" %}
    </div>

    <!-- SKILLS -->
    <div class="col s12 m8 l8 correct-padding">
        <div class="col s12 m6 l6">
            {% include "../components/profile/rating_card.html" %}
        </div>

        <div class="col s12 m6 l6">
            {% include "../components/profile/skills.html" %}
        </div>
    </div>

    <!-- ACTION BUTTONS -->
    <div class="col s12 m8 l8">
        <actionbuttons />
    </div>

    <!-- MODAL -->
    {% include "../components/profile/modal.html" %}
</div>
{% endblock %}

{% block vue_scripts %}
    <script src="{% static 'profile.js' %}"></script>
{% endblock %}