{% load i18n static nodes_plus %}

<footer class="page-footer text-center font-small mt-4 wow fadeIn text-lg-start">
    <div class="py-4 text-center">
        <div class="row p-5">
            
            {% for item in footer %}
                <div class="col-sm-12 col-md-2 text-md-left">
                    <p class="font-weight-bold text-uppercase" aria-label="{{ item.title }}">
                        {{ item.title }}
                    </p>
                    
                    {% for link in item.links %}
                        <div>
                            <a href="{% url link.name %}" role="link" aria-label="">
                                {{ link.title }}
                            </a>
                        </div>                        
                    {% endfor %}
                </div>                
            {% endfor %}

            <div class="col-sm-12 col-md-2 text-md-left">
                <p class="font-weight-bold text-uppercase">
                    Address
                </p>
                <p>
                    <span class="d-block">{{ contact.address }}</span>
                    <span class="d-block">{{ contact.zip_code }}</span>
                </p>
                <p>
                    <span class="d-block">{{ contact.emails.main }}</span>
                    <span class="d-block">Tél : {{ contact.telephone.main }}</span>
                </p>
            </div>

            {% if link_to_app_store or link_to_play_store %}
                <div class="col-sm-auto col-md-2">
                    <p class="font-weight-bold text-uppercase">Our apps</p>

                    <div class="d-flex flex-column justify-content-center align-items-center">
                        {% if link_to_app_store %}
                            <a href="{{  link_to_app_store}}" target="_blank" aria-label="App Store">
                                <b-img src="{% static 'appstore.png' %}" width="100" class="mb-3"></b-img>
                            </a>
                        {% endif %}
                        
                        {% if link_to_play_store %}
                            <a href="{{ link_to_play_store }}" target="_blank" aria-label="Play store">
                                <b-img src="{% static 'playmarket.png' %}" width="100"></b-img>
                            </a>                            
                        {% endif %}
                    </div>
                </div>                
            {% endif %}

        </div>
    </div>

    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p class="mt-3 mb-1">Suivez-nous sur les réseaux sociaux</p>

        {% comment %}
        {% for social in socials %}
            <b-button href="{{ social.url }}" style="min-width: 62px;" variant="primary" class="m-1 transparent shadow-none" rel="nofollow" target="_blank">
                <!-- <font-awesome-icon :icon="['fab', social.icon]" class="fa-2x" /> -->
                <!-- {% font_awesome_icon "user" %} -->
            </b-button>            
        {% endfor %}            
        {% endcomment %}
    </div>

    <div ref="copyright" class="text-center p-3" id="copyright">
        ©{{ current_date|date:"Y" }} {% trans "copyright" %}: {{ company_name }}
    </div>
</footer>

<!-- <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <div class="pt-4">
        <b-btn class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank" role="button">Download MDB
            <i class="fas fa-download ml-2"></i>
        </b-btn>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>

    <hr class="my-4">

    <div class="pb-4">
        <a href="https://www.facebook.com/mdbootstrap" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/MDBootstrap" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
            <i class="fab fa-google-plus-g mr-3"></i>
        </a>

        <a href="https://dribbble.com/mdbootstrap" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="https://pinterest.com/mdbootstrap" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="http://codepen.io/mdbootstrap/" target="_blank">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>

    <div class="footer-copyright py-3">
        © [[ currentYear ]] Copyright: {{ company_name|default:"MyWebsite" }}
    </div>
</footer> -->
