{% load nodes_plus %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'hero:home' %}">
            <strong>{{ company_name }}</strong>
        </a>

        <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" 
                        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                {% authenticated_navbar_links %}           
            {% else %}
                {% non_authenticated_navbar_links %}
            {% endif %}
            
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% for social in socials %}
                    <li class="nav-item">
                        <a href="{{ social.url }}" class="nav-link" target="_blank">
                            <i class="fab fa-{{ social.icon }}"></i>
                        </a>
                    </li>                    
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
