{% load i18n %}

<script>
    var csrf = $("input[name='csrfmiddlewaretoken']").val()
    var contactform = new Vue({
        el: "#vue_contact_form",
        name: "ContactForm",
        delimiters: ["[[", "]]"],
        template: `
        <form @submit.prevent="doemail">            
            <div v-if="formmessage.show" :class="messageclass">
                [[ formmessage.message ]]
            </div>

            <div v-else>
                <div v-for="field in fields" :key="field.name" class="input-field">
                    <input v-model="user[field.name]" :type="field.type" :name="field.name" :id="field.name" :autocomplete="field.autocomplete" :placeholder="field.placeholder">
                </div>
                
                <button class="btn-large indigo darken-1 waves-effect waves-light" type="submit" id="btn_send_message">
                    <i class="material-icons left">send</i>{% trans "Envoyer" %}
                </button>
            </div>
        </form>
        `,
        data() {
            return {
                formmessage: { show: false, error: false, message: "" },
                fields: [
                    { type: "email", name: "email", autocomplete: "email", placeholder: "Email" },
                    { type: "text", name: "telephone", autocomplete: "tel", placeholder: "Telephone" },
                    { type: "text", name: "message", autocomplete: "off", placeholder: "Message" }
                ],
                user: { email: "", telephone: "", message: "" }
            }
        },
        computed: {
            messageclass() {
                return {
                    "message red lighten-4": this.$data.formmessage.error,
                    "message green lighten-4": !this.$data.formmessage.error
                }
            }
        },
        methods: {
            doemail: function () {
                var self = this
                
                this.$data.formmessage.show = true

                var values = []
                _.forEach(Object.keys(self.$data.user), (key) => {
                    values.push(self.$data.user)
                })
                var isnotempty = values.every((value) => {return value !== ""})

                if (isnotempty) {
                    var data = new FormData()
                    _.forEach(Object.keys(self.$data.user), (key) => {
                        data.append(key, self.$data.user[key])
                    })
                    data.append("csrfmiddlewaretoken", csrf)

                    var xhr = new XMLHttpRequest()
                    xhr.responseType = "json"
                    xhr.onloadend = (e) => {
                        if (xhr.status == 200) {
                            if (xhr.response.state === false) {
                                self.$data.formmessage.error = true
                                self.$data.formmessage.message = "Le message n'a pas pu être envoyé"
                            } else {
                                self.$data.formmessage.message = "Message envoyé"
                            }
                        }
                    }
                    xhr.open("POST", window.location.href)
                    xhr.send(data)
                } else {
                    self.$data.formmessage.error = true
                    self.$data.formmessage.message = "Le formulaire est vide"
                }
            }
        }
    })
</script>
